.module-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.web-content {
  position: absolute;
  top: 10%;
  width: 66.66%;
}

.web {
    width: 100%;
    height: inherit;
}

.web img {
    width: 100%;
    height: inherit;
    margin-top: 10px;
}

.module-desc {
  position: fixed;
  top: 0;
  right: 0;
  background: rgb(255, 219, 58);
  padding: 5% 8%;
  height: 100%;
  width: 33.33%;
}

.module-desc p{
  line-height: 30px
}

@media only screen and (max-width: 900px) {

  .module-desc {
    height: auto;
  }

  .module-desc,
  .web-content {
    position: static;
    width: 100%;
  }

}
