/*Start General Page Styling*/

*,*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    color: #091f2f;
}

h1, h2, h3 {    
    font-family: 'Playfair Display', serif;
}

h1 {
    font-weight: 900;
    font-size: 5rem;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #091f2f;
}

header {
    width: 100%;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* horizontal alignment */
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row wrap;
            flex-direction: row wrap;
}

/* vertical alignment */
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column wrap;
            flex-direction: column wrap;
}

.flex-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section {
    position: relative;
    width: 100%;
}


.overlay {
    position: fixed;
    height: 100%;
    width: 0%;
    overflow-x: hidden;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999 ;
}

.clearfix::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

/**************************************************************************************************************************************************************/
/* Start Header Styling */
/**************************************************************************************************************************************************************/

.nav-bar,
.main-content {
    position: relative;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
}

.nav-bar {
    height: 150px;
}

.logo-wrapper,
.nav-menu-wrapper {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
    z-index: 6;
}

.logo-wrapper {  
    left: 0;
}

.nav-menu-wrapper {
    right: 0;
}

.logo {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    font-weight: 800;
    color: #fb4d42;
    padding: 5px;
    border: 3px solid #fb4d42;
    /* color: #288be4; */
}

.nav-menu a span {
    display: block;
    height: 5px;
    width: 40px;
    margin-top: 5px;
    background-color: #091f2f; 
}

.index-header {
    position: relative;
    display: flex;
    justify-content: center;
}

.index-nav-bar {
    position: absolute;
}

/**************************************************************************************************************************************************************/
/* Start Main Content Styling */
/**************************************************************************************************************************************************************/

.hero-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-section::after {
    content: "";
    position: absolute;
    height: 70%;
    width: 75%;
    /* background: #091f2f;*/
    background: #b3cae5;
    /* FF3.6+ */
    background: -moz-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%);
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(12%, #b3cae5), color-stop(46%, #dbdde4), color-stop(70%, #e4e3e4), color-stop(94%, #f7ddbb), color-stop(100%, #efcab2));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%);
    /* IE10+ */
    background: -ms-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%);
    /* W3C */
    background: linear-gradient(135deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%);
    bottom: -30px;
    right: -30px;
    z-index: -1;
}

.hero-section-inner {
    position: relative;
    height: 75vh;
    width: 100%;
    overflow: hidden;
}

.hero-section-title {
    position: absolute;
    top: 0;
    z-index: 5;
    top: 50%;
    left: 10%;
    padding: 5%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.hero-section-title h1 {
    color: #ffffff;
}

.hero-section-title h1 .span-block{
    display: block;
}

#span-period {
    /* color: #fb4d42; */
    color: #FEE79B;
}

.hero-section-title h2 {
    color: white;
    font-weight: 400;
}

.video-overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.video-overlay-line {
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    margin: auto;
}

.hero-section-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.hero-section-video video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1800px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/**************************************************************************************************************************************************************/
/* Start About Styling */
/**************************************************************************************************************************************************************/

#aboutSection {
    margin-top: 100px;
}

.about-section-inner {
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.about-section-info {
    position: relative;
    width: 50%;
    /* box-shadow: 0 0 60px 0 rgba(0,0,0,.2);     */
}

.about-section-info img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.about-section-title h3 {
    display: block;
    font-size: 3rem;
    margin: 20px 0 40px 0;
}

#about-section-info-1 {
    padding: 100px;
}

.about-section-description {
    width: 75%;
    line-height: 1.5rem;
}

/**************************************************************************************************************************************************************/
/* Start Work Section Styling */
/**************************************************************************************************************************************************************/

#workSection {
    margin-top: 100px;
}

.work-section {
    width: 100%;
    /* overflow: hidden;     */
}

.work-section-inner {
    width: 100%;
    overflow: visible;
}

.work-section-item {
    width: 50%;
    float: left;
}

.work-section-item.small {
   padding: 40px;
}

.work-section-item-inner {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 70px 0 rgba(0,0,0,.15000000000000002);
    transition: all .2s ease-out;      
    top: 0;
}

.work-section-item-inner:hover {
    top: -3px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15000000000000002);
}

  .project-item_FigureWrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .project-item_FigureWrapper a img {
    width: 100%;
    display: block;
  } 
  
  .project-item_Figure {
    border-radius: 10px 10px 0 0;
    height: 100%;
    margin: 0;
    background-size: cover;
    overflow: hidden;  
  }
  
  .project-item_DescriptionWrapper {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #DAD5D5;
  }
  
  .project-item_description {
    border-radius: 0 0 10px 10px;
    background: white; 
  }
  
  .project-item_Titledesc {
    color: #449cf2;  
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .project-item_Workdesc {
    font-weight: 600;
  }
  
  .project-item_Title {
    padding: 12px 0 12px 20px;
  }

  .project-item_description hr {
      width: 100px;
      margin-left: 20px;
  }
  
  .project-item_Work {
    padding-top: 5px;
    padding-left: 20px;
  }
  
  #project-item_work2 {
    padding-bottom: 20px;
  }
  


/**************************************************************************************************************************************************************/
/* Media Queries */
/**************************************************************************************************************************************************************/

@media only screen and (max-width: 1440px) {
    .work-section-item-list li{
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {

    .about-section-info {
        width: 30%;
    }

    #about-section-info-1 {
        width: 70%;
    }

}

@media only screen and (max-width: 900px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .hero-section::after {
        display: none;
    }

    #about-section-info-1 {
        padding: 10px;
        text-align: justify;
    }
    
    .about-section-description {
        width: 100%;
    }

    .work-section-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .work-section-item.small {
        padding: 0;
    }
  }

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .nav-bar {
        height: 100px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-bar a span {
        width: 30px;
        margin-top: 4px;
        height: 4px;
    }

    .about-section-info {
        width: 100%;
    }
}


@media only screen and (max-height: 700px) {
    .hero-section-inner {
        height: 525px;
    }
}

@media only screen and (max-width: 670px) {
    .work-section-item-list li{
        width: 100%;
    }
}