#map {
    height: 730px;
    width: 800px;
}


.descriptionContainer {
    line-height: 1.2rem;
}

#grantee-name {
    color: #003359;
}

.maps-info-container hr {
    border-color: #0099cc !important;
}

.addressContainer span,
.areaContainer span,
.donationContainer span {
    font-weight: bold;
}