
.max-width {
    width: 100%;
}

.w-section {
    display: block;
    padding: 5% 0;
    overflow: hidden;
}

.project-container {
    position: relative;
    top: 200px;
    width: 100%;
    padding: 5% 0;
}

.project-content {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;

}

.project-info {
    padding: 2% 0 2% 1.5%;
}

.project-description,
.project-info ul li {
    font-size: 1.3rem;
}

.project-info ul li{ 
    list-style: square;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #38414b;
}

.project-info ul li span{
    color: #449cf2;
} 

.project-description {
    width: 33%;
    float: left;
    padding: 0 3% 0 0;
}

.project-description p {
    line-height: 1.6;
}

.project-image {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-image-center {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container {
    flex: 0 1 auto;
    margin: 25px;
    display: inline-block;
}

.img-container img {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);    
}

@media only screen and (max-width: 1000px) {
    .project-description {
        width: 50%;
    }

    .project-info {
        padding: 2% 0 2% 4%;
    }

    .project-image {
        justify-content:   center;
    }

    .img-container {
        /* width: 25%; */
    }

    .project-image .img-container img{ 
        max-height: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 668px) {
    .project-description {
        width: 100%;
        padding: 2% 0;
    }

    .project-info {
        padding: 2% 0 2% 5%;
    }

    .img-container {
        width: auto !important;
    }
}

@media only screen and (max-width: 550px) {
    .project-title  {
        font-size: 3rem !important;
    }
}